In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pickle
import pandas as pd

In [38]:
df = pd.read_csv('hiring.csv')
df.columns

Index(['experience', 'test_score', 'interview_score', 'salary', 'Unnamed: 4'], dtype='object')

In [48]:
df = df.drop('Unnamed: 4',axis="columns")

In [49]:
df['experience'].fillna(0,inplace=True)

In [50]:
df

   experience  test_score  interview_score  salary
0         0.0         8.0                9   50000
1         0.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [52]:
median_test_score = df.test_score.median()
median_test_score

8.0

In [51]:
df.test_score = df.test_score.fillna(median_test_score)
df

   experience  test_score  interview_score  salary
0         0.0         8.0                9   50000
1         0.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [55]:
from sklearn import linear_model

In [58]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df['salary'])

LinearRegression()

In [73]:
reg.predict([[0,8,1]])

array([34708.15138282])

In [75]:
pickle.dump(reg, open('model.pkl','wb'))

In [77]:
model = pickle.load(open('model.pkl','rb'))
model.predict([[0,8,1]])

array([34708.15138282])